

html, body {
   height: 100%;
   margin: 0
}

section {
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

section.full {
	height: 100%;
}

#endbg {
	background-image: url(images/endbg.png);
}

#neutral {
	background-image: url(images/neutral.png);
}

