

html, body {
   height: 100%;
   margin: 0
}

section {
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

section.full {
	height: 100%;
}

#endbg {
	background-image: url(images/endbg.png);
}

#neutral {
	background-image: url(images/neutral.png);
	z-index: -100;
}

img.girl {
	position:absolute;
	display: block;
	right: 40%;
	top: 25%;
	z-index: 100;
}

img.mid-l {
	position:absolute;
	left: 32%; 
	top: 0%;
	z-index: 10;
}

img.mid-o {
	position:absolute;
	left: 37%; 
	top: 0%;
	z-index: 9;
}

img.purple-r {
	position:absolute;
	left: 58%;
	top: 59%;
	z-index: 8;
}

img.purple-l {
	position:absolute;
	left: 70%;
	top: 40%;
	z-index: 7;
}

img.left-o {
	position:absolute;
	left: 38%;
	top: 38%;
	z-index: 7;
}

@media all and (max-device-width: 480px) {

  img.girl {
  	position:absolute;
	display: block;
	height: 65%;
	left: 22.5%;
	top: 18%;
	z-index: 100;
  }

  img.mid-l {
	position:absolute;
	height: 60%;
	left: 8%; 
	top: 0%;
	z-index: 10;
  }

  img.mid-o {
	position:absolute;
	height: 60%;
	left: 13%; 
	top: 0%;
	z-index: 9;
  }

  img.purple-r {
	position:absolute;
	left: 83%;
	top: 85%;
	z-index: 8;
  }

  img.purple-l {
	position:absolute;
	left: 7%;
	top: 85%;
	z-index: 7;
  }

  /*
  img.left-o {
	position:absolute;
	left: 100%;
	top: 40%;
	z-index: 7;
  }
  */
  
  

}



